name: Build

on:
  push:
    tags: [ "v*" ]

jobs:
  build:
    runs-on: windows-latest
    name: Build
    steps:
    - uses: actions/checkout@v2.4.0

    - name: Install dependencies
      run: |
        choco install autohotkey imagemagick.app innosetup --limit-output

    - name: Build app
      shell: powershell
      run: |
        $pwd = Get-Location
        & .\build.bat
        & iscc installer.iss /DAppSrc=$pwd

    - name: Create an archive
      working-directory: dist
      run: |
        7z a imgopt-setup.7z imgopt-setup.exe

    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "dist/imgopt.7z"
        token: ${{ secrets.GITHUB_TOKEN }}
        prerelease: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') }}
